/* Neumann Custom Font - FF Unit Pro */
@font-face {
    font-family: "FF Unit Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url("./fonts/ff-unit-pro-light.woff2") format("woff2"),
        url("./fonts/ff-unit-pro-light.woff") format("woff");
}

@font-face {
    font-family: "FF Unit Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url("./fonts/ff-unit-pro-regular.woff2") format("woff2"),
        url("./fonts/ff-unit-pro-regular.woff") format("woff");
}

@font-face {
    font-family: "FF Unit Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url("./fonts/ff-unit-pro-bold.woff2") format("woff2"),
        url("./fonts/ff-unit-pro-bold.woff") format("woff");
}
